<%- include('partials/header')-%>

<div class="container py-5 text-center" style="margin: 80px auto;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png" class="mx-auto my-4" style="width: 60px;" alt="">
    <p>
        Your blog has been submitted successfully please wait for the approval.
    </p>
</div>


<%-include('partials/footer')-%>
