<%- include('./partials/header') -%>
  <head>
    <title>
      Aws Pakistan Generel FAQs and Team
    </title>
    <link rel="stylesheet" href="css/faqs.css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/faqsresponsive.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-----------------FAQ Markups Starts---------------------->
    
    <br><br></br>
    <section class="faq">
      <div class="container">
        <div class="row">
          <div
            class="col-md-12 text-center wow zoomIn"
            data-wow-duration="1s"
            data-wow-delay="1s"
          >
            <h2><b>GENERAL FAQs</b></h2>
            <div class="sub-heading">
              <p style="color: rgb(17, 17, 19);">
              <!--   Help and FAQs -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br />

      <div
        class="container wow bounceInLeft"
        data-wow-duration="1.5s"
        data-wow-delay="1.5s"
      >
        <div class="row">
          <div class="col-md-7">
            <div class="panel-group" id="accordian">
              <div class="panel">
                <div class="panel-heading" id="headingOne">
                  <h4 class="panel-title">
                    <a
                      href="#collapseOne"
                      data-toggle="collapse"
                      data-parent="#accordian"
                      >First Question?</a
                    >
                  </h4>
                </div>
                <div
                  id="collapseOne"
                  class="panel-collapse collapse in"
                  aria-labelledby="headingone"
                >
                  <div class="panel-body">
                    <p>
                      Insert Question 1
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo">
                  <h4 class="panel-title">
                    <a
                      href="#collapseTwo"
                      class="collapsed"
                      data-toggle="collapse"
                      data-parent="#accordian"
                      >Second Question?</a
                    >
                  </h4>
                </div>
                <div
                  id="collapseTwo"
                  class="panel-collapse collapse"
                  aria-labelledby="headingTwo"
                >
                  <div class="panel-body">
                    <p>
                      Insert Question 2
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" id="headingThree">
                  <h4 class="panel-title">
                    <a
                      href="#collapseThree"
                      class="collapsed"
                      data-toggle="collapse"
                      data-parent="#accordian"
                      >Third one?</a
                    >
                  </h4>
                </div>
                <div
                  id="collapseThree"
                  class="panel-collapse collapse"
                  aria-labelledby="headingThree"
                >
                  <div class="panel-body">
                    <p>
                      Insert Question 3
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" id="headingfour">
                  <h4 class="panel-title">
                    <a
                      href="#collapsefour"
                      class="collapsed"
                      data-toggle="collapse"
                      data-parent="#accordian"
                    >
                      Final question ?</a
                    >
                  </h4>
                </div>
                <div
                  id="collapsefour"
                  class="panel-collapse collapse"
                  aria-labelledby="headingfour"
                >
                  <div class="panel-body">
                    <p>
                      Insert Question 4
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="freeimage wow bounceInRight"
            data-wow-duration="1.6s"
            data-wow-delay="1.6s"
          >
            <div class="col-md-2 col-md-offset-1">
              <img src="img/Sasta-Iphone.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***************Team Section Start******************** -->
    <br><br><br>
    <section class="team">
      <div class="container">
        <h1>Our AWS Ambassadors's Team</h1>

      </div>

    </section>
  
    
<%- include('./partials/footer') -%>

