<%- include('partials/header') -%>

    <!-- Slider Section Starts -->
    <section class="slider text-center" id="slider">
      <div class="slider-overlay">
        <div class="slider-content">
          <br />
          <div class="text"></div>
          <div class="cta-div">
            <a href="#contact_area" class="btn1">ABOUT COMMUNITY</a>
            <a href="#latest" class="btn2"> EXPLORE MORE</a>
          </div>
          <br /><br />
         <!--  <div class="social-networks">
            
          </div> -->
        </div>
      </div>
    </section>
     <!---------------Slider section ends-------------> 
         
           <!---------------Services starts-------------> 
           
           <br><br>
           <selection class="service-area" id="services">
               <div class="container">
                   <div class="row">
                       <div class="col-xs-12">
                           <div class="section-title text-center wow animated zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                               <h2><b>TOP AWS SERVICES</b></h2>
                               <p>
                                    
                               </p>
                           </div>
                       </div>
                       <br>
                       <br>
                        

                          <div class="row">
        
                           <div class="col-md-4 col-sm-6 col-xs-12">
                               <div class="service-wrap text-center wow bounceInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                    <i class="fa fa-archive"></i>
                                   </div>
                                   <h3>Amazon S3</h3>
                                   <p> Used to storing and retrieving the data in the AWS cloud.</p>
                               </div>
                           </div>              
                                      
                          <div class="col-md-4 col-sm-6 col-xs-12">
                               <div class="service-wrap text-center wow bounceInUp"  data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                       <i class="fa fa-laptop"></i>
                                   </div>
                                   <h3>Amazon EC2</h3>
                                   <p>EC2 provides scalable computing capacity in the AWS cloud.
                                    </p>
                               </div>
                           </div>
              

                          <div class="col-md-4 col-sm-6 col-xs-12">
                               <div class="service-wrap text-center wow bounceInRight"  data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                    <i class="fa fa-cloud"></i>
                                   </div>
                                   <h3>AWS Lambda</h3>
                                   <p>A service that allows the user to run code without any server.</p>
                               </div>
                           </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                          
                               
                           <div class="service-wrap text-center wow bounceInLeft"  data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                    <i class="fa fa-server"></i>
                                   </div>
                                   <h3>Amazon Glacier</h3>
                                   <p>It provides you with low cost storage with security features.</p>
                               </div>
                           </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              
                              
                              
                              
                           <div class="service-wrap text-center wow bounceInUp"  data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                   </div>
                                   <h3>Amazon SNS</h3>
                                   <p>It manages notifications to the users from any cloud platform.</p>
                               </div>
                           </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                               <div class="service-wrap text-center wow bounceInRight"  data-wow-duration="0.8s" data-wow-delay="0.8s">
                                   <div class="service-icon">
                                    <i class="fa fa-bolt"></i>
                                   </div>
                                   <h3>Amazon CloudFront</h3>
                                   <p>It speeds up the sharing of your static and dynamic web.</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               
               
           </selection>
           <!--------Works Markups-------->
       
       <section class="work wow bounceInUp mb-5"  data-wow-duration=".5s" data-wow-delay=".5s" id="works"><br><br><br><br><br>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="img-wrapper wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="1s">
                        <a href="img/AWS1.png" title="AWS 1">
                            <img src="img/AWS1.png" class="img-responsive">
                        </a>
                    </div>
                    
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                     <div class="img-wrapper wow fadeInDownBig" data-wow-duration="1s" data-wow-delay="1s">
                        <a href="img/AWS2.png" title="AWS 2.">
                            <img src="img/AWS2.png" class="img-responsive">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-3">
                     <div class="img-wrapper wow fadeInDownBig" data-wow-duration="1s" data-wow-delay="1s">
                        <a href="img/AWS3.png" title="AWS 3">
                            <img src="img/AWS3.png" class="img-responsive">
                        </a>
                    </div>
                </div>
                
               <div class="col-md-3 col-sm-3 col-xs-3">
                     <div class="img-wrapper wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="1s">
                        <a href="img/AWS3.png" title="AWS 4">
                            <img src="img/AWS3.png" class="img-responsive">
                        </a>
                    </div>
                </div> 
            </div>
        </section>
                
<%- include('partials/footer') -%>

