

*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Amazon Ember Regular" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
    background: #232F3E;
    shadow
}
.navbar{
   /*  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%); */
    background-color: #91919196;
    padding: 0 !important;
    
}
.navbar-brand img{
    width: 220px;
    padding-left: 25px;

}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    color: white !important;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px; 
    font-size: 13px;
    transition: all 0.14s ease-in;
    background: transparent !important;

}
.navbar ul li a:hover
{
    color: #f8991d !important;
}

.navbar ul li a:focus
{
    color: rgb(95, 10, 10) !important;
    background: none !important;
}

.fa-bars{
    color: white;
    font-size: 30px !important;
    border: none;
}
.navbar-toggler{
    outline: none !important;
    border: none!important;
}
/*............ Slider Starts ..........................*/
.slider
{
    width: 100%;
    height: 700px;
    background-image: url(../img/perry-grone-lbLgFFlADrY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    
    
}
.slider-overlay
{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.65);
    position: relative;
}
.slider-content
{
    position: absolute;
    top: 37%;
    width: 100%;
}
.cta-div
{
    margin-top: 30px;
     
}


.btn1
{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
    
}


.btn1:hover
{
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border-color: deepskyblue;
    
}


.btn2
{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right:10px;
}
.btn2:hover
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
    
}
 /* .social-networks a
{
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 2px;
    transition: all 0.5s ease-in;
    
}  */


.social-networks a.fa:hover
{
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
    
}

 
.slider .text, .slider .typed-cursor
{
    display: inline;
    font-size: 50px;
    text-transform: uppercase;
}
.primary
{
    color: orangered;
}

.typed-cursor
{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation:blink 0.7s infinite;
  -mox-animation:blink 0.7s infinite;
    
    
}
@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
    
    
    
}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
  
}

@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
    
  
}  

/*=======================================
            Slider Ends
=========================================*/
/*=======================================
            Services Style
=========================================*/

.service-area{
    margin-top: 30px;
}

.service-area p{
    margin-bottom: -5px;
}

.service-wrap{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
    
}


.service-wrap::before, .service-wrap::after{
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background-color: #34495e;
}

.service-wrap::before{
    top: -37px;
    left: 100%;
}

.service-wrap:hover:before{
    left: -27px;
    opacity: 1;
}

.service-wrap::after{
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover:after{
    right: -27px;
    opacity: 1; 
}

.service-wrap:hover{
    color: white;
}


.service-wrap:h3{
    color: white;
}


.service-wrap:hover h3{
    color: white;
}

.service-wrap:hover h3:after{
    background-color: white;
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}


.service-wrap:hover .service-icon i{
    transform: rotate(360deg);
}

.service-wrap h3{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
    
}

.service-wrap p{
    font-size: 14px;
    margin-bottom: 0;
}
/**********************************
            Work Style
**********************************/


.work{
    margin-top: 25px;
}

.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform 0.5s ease;
    width: 100%;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

/**********************************
            Work Ends
**********************************/